.blog-list {
    text-align: center;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.blog-breadcrumbs {
    padding-bottom: 3%;
}

main {
    min-height: 79vh;
    display: flex;
    flex-direction: column;
}

.container {
    flex-grow: 1;
    width: 100%;
}

section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}